<!------------------------------------------------------------------------------------------------------------------------------
 
 
 
 
 
                                >>>     H U M A N   I N T E R F A C E   C O M P U T I N G     <<<
 
                                          Project 2  |  Implementation | CSS Stylesheet 
 
                
 
                                                 -----------------------------
 
 
                                                        GROUP MEMBERS
 
                                             > SYDNEY ZEULZKE  | Leader, Designer
                                             > MARIHA AHAMMED  | Member, Designer
                                             > EMMA MAGYARICS  | Member, Designer
                                             > JULIA PANGONIS  | Member, Designer
                                             > JOSHUA ROMISHER | Member, Designer
                                      
 
 
 
 
------------------------------------------------------------------------------------------------------------------------------->

html, body {
    font-family: 'Karla', sans-serif;
    background: #f6f6f6;
    margin: 0px;
    padding: 0px;



}

body {
    margin: 0px;
    overflow-y: scroll; overflow-x:auto;


}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeeee; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ADC1D0; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4A7A8D; 
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 1000px;
    height: 200px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-left: none;
    z-index: 9999;
}

header #header-content {
    position: absolute;
    left: 5%;
    right: 10%;
    width: 85%;
    height: 45%;
    float:right;
}
header #header-content img{
	border-radius: 50px;
}


div {
    display: inline ;

}

header {
    display: block;
}
header #header-content .icon {
    position: relative;
    z-index: 99999;
    float: left;
    margin: 25px 0px 0px 0px;
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 175%;
    text-align: center;
    background-color: #c3dfdf;
}

header #header-content nav.toplinks {
    font-family: 'Karla', sans-serif;
    position: absolute;
    right: 0px;
    bottom: 15px;
    overflow: hidden;
    width: calc(200px + 540px - 28px);
    text-align: right;
}
header #header-content nav.botlinks {
    font-family: 'Karla', sans-serif;
    position: absolute;
    right: 0px;
    bottom: -45px;
    overflow: hidden;
    width: calc(200px + 540px - 28px);
    text-align: right;
}

nav {
    display: block;
}

::selection {
    color: #ffffff;
    background-color: #ADC1D0;
}

header #header-content nav.toplinks a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 9.5px;
    letter-spacing: 3px;
    margin-left: 30px;
    padding-top: 7px;
    color: #888888;
    border-top: 1px solid transparent;
}

header #header-content nav.botlinks a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 9.5px;
    letter-spacing: 3px;
    margin-left: 30px;
    padding-top: 7px;
    color: #888888;
    border-top: 1px solid transparent;
}

header #header-content nav.toplinks a:hover {
   padding-bottom: 4px;
   border-bottom: 5px solid #ADC1D0;

}

header #header-content nav.botlinks a:hover {
   padding-bottom: 4px;
   border-bottom: 5px solid #ADC1D0;

}

a:hover, a:active {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.4s ease-in-out;
}
a {
    color: #666666;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

#title{
position: absolute;
width: 100%;
min-width: 1000px;
top: 200px;
height: 70px;
text-align: center;
padding-top: 20px;
background-color: #efefef;
vertical-align: middle;
font-family: Garamond;
font-weight: 950;
font-variant: small-caps;
color:#4A7A8D;
font-size: 24px;
}

#sidebar {
    width: 100%;
    min-width: 1000px;
    position: absolute;
    z-index: 999;
    top: 270px;
    left: 0;
}
#sidebar .box{
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 25%;
    background-color:white;
    opacity: 0.7;

    text-align: center;
}


#sidebar .box .text{
    padding: 0 0 0 0;
    position: absolute;
    z-index: 1001;
    top: 25%;
    left: 25%;
    right: 25%;
    font-family: Garamond;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
    color: #444444;
    opacity: 1;
    letter-spacing: 1px;
}


#sidebar .box .infotext{
    padding: 0 0 0 0;
    position: absolute;
    z-index: 1001;
    top: 40%;
    left: 25%;
    right: 25%;
    font-family: 'Karla', sans-serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 14px;
    color: #444444;
    opacity: 1;
    letter-spacing: 3px;
}





.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    border: 1px solid #eeeeee;
    border-right: none;
    background-color: #ADC1D0; 
    color:#ADC1D0;
}

.fa-caret-down:before {
    content: "\f0d7";
}
.container {
    width: 940px;
    margin: 0 auto;

}
#footer {
    position: block;
    background-color: #ffffff;
    color: #ADC1D0;

}

#footer .top {
    padding: 30px 0px;
}
#footer .top, #footer .bottom {

    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
#footer .top .left {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: ;
}
#footer .top .left dl {
    margin-left: 10%;
    text-transform: capitalize;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#footer .top .left dl dt {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 1.25em;
}

.t-gradient {
    color: transparent;
    background: linear-gradient(135deg, #4A7A8D, #ADC1D0);
    -webkit-background-clip: text;
    font-family: Garamond;
    font-variant: small-caps;
    font-weight:1000;
}
*, *:before, *:after {

    box-sizing: border-box;
}

dt {
    display: block;
}
#footer .top .left dl dd {
    font-family: 'Karla', sans-serif;
    margin: 0;
    line-height: 2em;
    text-transform: uppercase;
    font-size: 9.5px;
    letter-spacing: 3px;

    color: #888888;
}

#footer .top .left dl dd:hover{
   padding-bottom: -3px;
   border-bottom: 3px solid #ADC1D0;
   transition: all 0.2s ease-in-out;

}
dd {
    display: block;
    margin-inline-start: 40px;
}

#footer .top + .bottom {
    border-top: 1px solid #eeeeee;
}

#footer .bottom {
    padding: 25px 10%;
    font-size: 11px;
    letter-spacing: 1.2px;
}

form {
    display: block;
    margin-top: 0px;
    margin-left: 100%;
    color: #ADC1D0;

}

header #header-content nav.botlinks  .search-bar {

    position: absolute;
    margin-left: 10px;
    padding-top: 20px;
    color: #ADC1D0;
}

header #header-content nav.botlinks .search-bar input{
    width: 200px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid #eeeeee;
    padding: 0 30px 0 10px;
    font-size: 9.5px;
    color: #ADC1D0;
    background-color: #ffffff;
    display:block;
}
input, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-family: 'Karla', sans-serif;
    font-size: 9.5px;
}
button {
    display: inline;
}

input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    color: #ADC1D0;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    letter-spacing: 3px;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;

    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;

}

header #header-content nav.botlinks  .search-bar button{
    position: relative;
    top: 7.5px;
    right: 7.5px;
    cursor: pointer;
    display: inline-block;
    color: #ADC1D0;
}

button {
    appearance: ;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: #ADC1D0;
    letter-spacing: 3px;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;

}

header #header-content nav.botlinks  .search-bar button svg{
    display: block;
    width: 20px;
    height: 20px;
    stroke: url(https://static.tumblr.com/ickcbh2/8yXpmw91c/style.css#gradient);
    color: #ADC1D0;
}
svg[Attributes Style] {

    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #ADC1D0;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

circle[Attributes Style] {
    cx: 11;
    cy: 11;
    r: 8;
}

:not(svg) {
    transform-origin: 0px 0px;
}

main{
    text-align: center;
    padding-bottom: 30 px;
}
h1{
padding-top: 40px;
font-family: Garamond;
font-weight: 600;
font-variant: small-caps;
color:#666666;
font-size: 22px;
text-align: center;
}
#apply{
    z-index:1002;
    position: relative;
    background-color: #D4E3EB;
    padding: 20px 20px 20px 30px;
    text-align: justify !important;
    
       
}

#apply a{
   font-family: Garamond;
    font-weight: 950;
    font-variant: small-caps;
    color:  #4A7A8D; !important; 
    font-size: 18px;
}

.contact-card{
    display: flex;
    padding: 60px 15px 15px 15px;
    width: 70%;
    
    text-align: justify !important;
    margin: auto;
}

.contact-image{
    text-align: center;
    display:block;
    margin: auto;
    background-color: white;
    width: 60%;
}
.contact-info{
    text-align: center;
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #efefef;
    width: 60%;

    font-family: sans-serif;
    font-size: 9.5px;
    letter-spacing: 3px;
    line-height: 2em; 
    color: #666666;
    text-transform: uppercase
;}
label{
    letter-spacing: 0 !important;
    font-family: Garamond;
    font-weight: 950;
    font-variant: small-caps;
    color:  #4A7A8D; !important; 
    font-size: 18px;
    text-align: center;
    text-transform: none !important;
}
name{
    display:block;
    text-align: center;
}
desc{
    display:block;
    text-align: center;
}
email{
    display:block;
    text-align: center;
}
.career-text{
    margin: auto;
    width: 40%;

    padding: 10px;
    display: block;
    font-family: sans-serif;
    font-size: 9.5px;
    letter-spacing: 3px;
    line-height: 2em; 
    color: #666666;
    text-transform: uppercase;

}
.history-headers{
    margin: auto;
    width: 940px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
    font-family: 'Karla', sans-serif;
}

.row{
  align-contents: center;
  text-align: center;
  max-width: 60%;
}
.column {
    float: left;
    width: 33.33%;
    padding: 8px;
  }

  .about-card{
    display: flex;
    position: relative;
    padding:45px 15px 15px 15px;
    width: 70%;
    height: auto;
    text-align: center;
    margin: auto;
}

.about-image{
    text-align: center;
    display:block;
    margin: auto;
    background-color: white
    width: 40%;
    height: auto;
}
.about-info{
    padding: 30px 50px 50px 30px;
    text-align: center;
    display: block;
    margin: auto;
    background-color: #efefef;
    width: 40%;
    font-family: sans-serif;
    font-size: 9.5px;
    letter-spacing: 3px;
    line-height: 2em; 
    color: #666666;
    text-transform: uppercase;
}

#gamebox {
position: relative;
width: 50%; 

}


#gamebox a {
position: absolute;
display: inline-block;
margin-top: 22%;
padding-top: 5%;
text-align: center;
padding-bottom: 5%;
left: 25%;
right: 25%;
z-index: 950;
background: rgba(255, 255, 255, .8);
color: #4A7A8D;
font-family: garamond;
font-weight: 1000;
font-variant: small-caps;
font-size:20px;
transition: 200ms linear;

}

#gamebox a:hover {
transform: scale(1.05);
background: rgba(255, 255, 255, .95);
color: #ADC1D0;

}

#section{
display: inline-block;
position: relative;
width: 100%;
height: 70px;
text-align: center;
padding-top: 20px;
background-color: #efefef;
vertical-align: middle;
font-family: Garamond;
font-weight: 950;
font-variant: small-caps;
color:#4A7A8D;
font-size: 24px;
}

#section a{
vertical-align: middle;
font-family: Garamond;
font-weight: 950;
font-variant: small-caps;
color:#4A7A8D;
font-size: 24px;
}


#member{
float: center;
bottom: 40px;
top:40px;
left: 5%;
right:5%;
display: inline-block; 
position: relative; 
width: 30%;
border-right: 1px solid #eeeeee;
font-family: 'Karla', sans-serif;
letter-spacing: 2px;
font-size: 9.5px;
color:#666666;
text-transform: uppercase;
line-height: 20px;
text-align: center;

}

#member img {
padding: 50px 20px;
float: left;
position: relative;
width: 40%;
}

#member .text{

padding:20% 10px;
display: inline-block;
position: relative;                     

}

hr {
border: 0;
border-top: 0.5px solid #eeeeee;
}



#awards{
float: center;
bottom: 40px;
top:10px;
left: 5%;
right:5%;
display: inline-block; 
position: relative; 
width: 30%;
border-right: 1px solid #eeeeee;
font-family: 'Karla', sans-serif;
letter-spacing: 2px;
font-size: 9.5px;
color:#666666;
text-transform: uppercase;
line-height: 20px;
text-align: center;

}


#awards img {
padding: 50px 20px;
float: center;
position: relative;
width: 100%;
}

p{ 
padding-left: 20%; 
padding-right: 20%; 
font-family: 'Karla', sans-serif;
letter-spacing: 2px;
font-size: 9.5px;
color:#666666;
text-transform: uppercase;
line-height: 20px;
text-align: justify;
}

#awards .text{
top: -30px;
padding:0 0;
display: inline-block;
position: relative;  
text-align: center;
}
#project{
float: center;
bottom: 40px;
top:0px;
padding-left: 15%;
display: flex; 
position: relative; 
width: 85%;
font-family: 'Karla', sans-serif;
letter-spacing: 2px;
font-size: 9.5px;
color:#666666;
text-transform: uppercase;
line-height: 20px;
text-align: justify;


}

#project img {
padding: 0px 20px;
float: left;
position: relative;
width: 40%;
}

#project .text{

padding:5% 10px;
display: flex;
position: relative;
background-color: #efefef;

}

